---
const features = [
  {
    icon: 'assets/features/icon-01.svg',
    title: 'Searches and delete',
    ref: 'javascript:void(0)',
    refTitle: 'Learn More',
    description:
      'Transform Your Digital Footprint. Our advanced service scours the internet to find and eliminate unwanted online information, securing your privacy and allowing you to curate a digital presence that truly reflects your preferences and values.',
  },
  {
    icon: 'assets/features/icon-02.svg',
    title: 'Spam cleaner',
    ref: 'javascript:void(0)',
    refTitle: 'Learn More',
    description:
      'Take Command of Your Inbox. Our service diligently demands the removal of your information from mailing lists, granting you unparalleled control over your mailbox and liberating it from unwanted clutter.',
  },
  {
    icon: 'assets/features/icon-03.svg',
    title: 'GDPR Guardian',
    ref: 'javascript:void(0)',
    refTitle: 'Learn More',
    description:
      'Master Your Digital Domain. By leveraging GDPR regulations post-web scraping, we ensure the swift removal of your data across the net, granting you supreme control over your online privacy and inbox.',
  },
  {
    icon: 'assets/features/icon-04.svg',
    title: 'Webwipe Admin',
    ref: 'javascript:void(0)',
    refTitle: 'Learn More',
    description:
      'Ultimate Network Command Center. Tailor your digital environment with precision—choose exactly what to save or remove, and what to monitor or ignore, across company networks, home setups, or personal devices. Full control, fully customizable.',
  },
];
---

<!-- ====== Features Section Start -->
<section class="pt-20 pb-8 lg:pt-[120px] lg:pb-[70px] dark:bg-dark">
  <div class="container">
    <div class="-mx-4 flex flex-wrap">
      <div class="w-full px-4">
        <div class="mb-12 mx-auto max-w-[485px] lg:mb-[70px] text-center">
          <span class="mb-2 block text-lg font-semibold text-primary">
            Features
          </span>
          <h2 class="mb-3 text-3xl font-bold text-dark dark:text-white sm:text-4xl md:text-[40px] md:leading-[1.2]">
            Our Services
          </h2>
          <p class="text-base text-body-color dark:text-dark-6">
            At WebWipe, we specialize in digital cleanliness and privacy empowerment. Our comprehensive suite of services is designed to scour the internet, identifying and eradicating unwanted personal information that compromises your privacy. From deep web scans to the removal of outdated or incorrect data, we ensure your digital footprint is both minimal and accurate. Whether you're looking to secure your personal data, manage your company's online presence, or simply gain peace of mind in an increasingly connected world, WebWipe offers tailored solutions that put control back in your hands. Experience the freedom of a cleaner digital life with WebWipe—where your privacy is our priority.
          </p>
        </div>
      </div>
    </div>
    <div class="-mx-4 flex flex-wrap">
      {
        features.map((feature) => (
          <div class="w-full px-4 md:w-1/2 lg:w-1/4">
            <div class="wow fadeInUp group mb-12" data-wow-delay=".1s">
              <div
                class="relative z-10 mb-10 flex h-[70px] w-[70px] items-center justify-center rounded-[14px] bg-secondary"
              >
                <span
                  class="absolute top-0 left-0 -z-[1] mb-8 flex h-[70px] w-[70px] rotate-[25deg] items-center justify-center rounded-[14px] bg-secondary bg-opacity-20 duration-300 group-hover:rotate-45"
                ></span>
                <img src={feature.icon} alt="icon" />
              </div>
              <h4 class="mb-3 text-xl font-bold text-dark dark:text-white">
                {feature.title}
              </h4>
              <p class="mb-8 text-body-color dark:text-dark-6 lg:mb-9">
                {feature.description}
              </p>
              <a
                href={feature.ref}
                class="text-base font-medium text-dark dark:text-white hover:text-primary dark:hover:text-primary"
              >
                {feature.refTitle}
              </a>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>
<!-- ====== Features Section End -->